<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.jk.dao.CommentDao">

    <!--删除、批量删除评论-->
    <delete id="deleteCommentByCommentId" parameterType="Integer">
        delete from oblog_db_comment where 1>2 or commentId in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>